<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>img</title>
	<script src="../static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	<form action="https://api.weixin.qq.com/cgi-bin/material/add_material?access_token=21_SbYNsJ_Wqp105cyKTXaPH0CqzJskBxLMvfNBmhW2d3tP24EYXqn8FKtz93BkybX1gBRTd97XwvQRNBQXx2IzUPzH6a-5MgGrMIJNZvFoRrPbShEGsbkc2uKieLj3HGfrR2gGIU62UXn7gKDULQVaACAGLQ&type=image" method="post" enctype="multipart/form-data" >
		<input type="file" id="myfile" name="media" />
		<input type="submit" id="submit"/>
	</form>
</body>
</html>